{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}{{ post.title }} :: {{ block.super }}{% endblock %}

{% block content %}

<section class="single-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="border-top">
                    <div class="col-md-8">
                        <div class="blog-area">
                            <div class="blog-area-part">
                                <h2>{{ post.title }}</h2>
                                <div class="single-content">
                                    <div>
                                        <span>Category: <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a> </span>
                                        <br>
                                        {% if post.tags.exists %}
                                        <span>
                                            Tags:
                                            {% for tag in post.tags.all %}
                                            <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                                            {% endfor %}
                                        </span>
                                        <br>
                                        {% endif %}
                                        <span>Views: {{ post.views }}</span>
                                    </div>
                                    {{ post.content|safe }}
                                </div>
                            </div>

<!--                            <div class="commententries">-->
<!--                                <h3>Comments</h3>-->

<!--                                <ul class="commentlist">-->
<!--                                    <li>-->
<!--                                        <article class="comment">-->
<!--                                            <header class="comment-author">-->
<!--                                                <img src="img/author-1.jpg" alt="">-->
<!--                                            </header>-->
<!--                                            <section class="comment-details">-->
<!--                                                <div class="author-name">-->
<!--                                                    <h5><a href="#">Selina Gomez</a></h5>-->
<!--                                                    <p>February 25 2017</p>-->
<!--                                                </div>-->
<!--                                                <div class="comment-body">-->
<!--                                                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>-->
<!--                                                </div>-->
<!--                                                <div class="reply">-->
<!--                                                    <p><span><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>12</span><span><a href="#"><i class="fa fa-reply" aria-hidden="true"></i></a>7</span></p>-->
<!--                                                </div>-->
<!--                                            </section>-->
<!--                                        </article>-->

<!--                                        <ul class="children">-->
<!--                                            <li>-->
<!--                                                <article class="comment">-->
<!--                                                    <header class="comment-author">-->
<!--                                                        <img src="img/author-2.jpg" alt="">-->
<!--                                                    </header>-->
<!--                                                    <section class="comment-details">-->
<!--                                                        <div class="author-name">-->
<!--                                                            <h5><a href="#">Khalid Hasan Zibon</a></h5>-->
<!--                                                            <p>February 25 2017</p>-->
<!--                                                        </div>-->
<!--                                                        <div class="comment-body">-->
<!--                                                            <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>-->
<!--                                                        </div>-->
<!--                                                        <div class="reply">-->
<!--                                                            <p><span><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>12</span><span><a href="#"><i class="fa fa-reply" aria-hidden="true"></i></a>7</span></p>-->
<!--                                                        </div>-->
<!--                                                    </section>-->
<!--                                                </article>-->
<!--                                            </li>-->
<!--                                        </ul>-->

<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <article class="comment">-->
<!--                                            <header class="comment-author">-->
<!--                                                <img src="img/author-3.jpg" alt="">-->
<!--                                            </header>-->
<!--                                            <section class="comment-details">-->
<!--                                                <div class="author-name">-->
<!--                                                    <h5><a href="#">Heath Ledger</a></h5>-->
<!--                                                    <p>February 25 2017</p>-->
<!--                                                </div>-->
<!--                                                <div class="comment-body">-->
<!--                                                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>-->
<!--                                                </div>-->
<!--                                                <div class="reply">-->
<!--                                                    <p><span><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>12</span><span><a href="#"><i class="fa fa-reply" aria-hidden="true"></i></a>7</span></p>-->
<!--                                                </div>-->
<!--                                            </section>-->
<!--                                        </article>-->
<!--                                    </li>-->
<!--                                </ul>-->

<!--                            </div>-->
<!--                            <form action="#" method="get">-->
<!--                                <div class="name">-->
<!--                                    <input type="text" name="" id="" placeholder="Name" class="name">-->
<!--                                </div>-->
<!--                                <div class="email">-->
<!--                                    <input type="email" name="" id="" placeholder="Email" class="email">-->
<!--                                </div>-->
<!--                                <div class="comment">-->
<!--                                    <input type="text" name="" id="" placeholder="Comment" class="comment">-->
<!--                                </div>-->
<!--                                <div class="post">-->
<!--                                    <input type="submit" value="Post">-->
<!--                                </div>-->
<!--                            </form>-->
                        </div>
                    </div>
                    <div class="col-md-4">

                         <div class="newsletter">
                            <h2 class="sidebar-title">Search</h2>
                            <form action="{% url 'search' %}" method="get">
                                <input type="text" name="s" placeholder="Search...">
                                <input type="submit" value="Search">
                            </form>
                        </div>

                        {% get_popular 3 %}

                        {% get_tags %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}